

td:hover { /**various styling effects for the muscle car table**/
    background-color: red;
    color: black;
}

tr, th {
    background-color: blue;
    color: cornsilk;
}

tr, td {
    background-color: green;
    color: white;
}

table {width: 100%;
    text-align: center;}

table, th, td {
  border: 1px solid black;
  color: yellow;
}